@{
    ViewData["Title"] = "運搬";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="row table-content transportContent" style="display: none">
        <div class="col-6 col6-sp" style="padding:20px;">
            <div class="d-flex justify-content-center">
                <table id="tblTransportLeft" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="min-width40"></th>
                            <th>機番</th>
                            <th>箱種</th>
                            <th class="min-width48">箱数</th>
                            <th>時間</th>
                            <th class="registerTh">登録</th>
                            <th class="fixBtnClose">取消</th>
                        </tr>
                    </thead>
                    <tbody id="express-table-row">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-6 col6-sp" style="padding:20px;">
            <div class="d-flex justify-content-center">
                <table id="tblTransportRight" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="min-width40"></th>
                            <th>機番</th>
                            <th>箱種</th>
                            <th class="min-width48">箱数</th>
                            <th>時間</th>
                            <th class="registerTh">登録</th>
                            <th class="fixBtnClose">取消</th>
                        </tr>
                    </thead>
                    <tbody id="express-table-row">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="noneDateMess text-center text-danger" style="display: none">E2007 該当データがありません。</div>
    <div class="connectionError text-center text-danger" style="display: none">E3003 ネットワークに接続できませんでした。</div>

    <div id="overlay">
        <div class="cv-spinner">
            <span class="dots-circle-spinner loading"></span>
        </div>
    </div>
</div>

