@{
    ViewData["Title"] = "部品準備";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="row table-content supplyContent" style="display: none">
        <div class="col-6 col6-sp" style="padding:20px;">
            <div class="d-flex justify-content-center">
                <table id="tblSupplyLeft" class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th class="min-width40"></th>
                            <th>機番</th>
                            <th>所番地</th>
                            <th>品番</th>
                            <th class="min-width48">個数</th>
                            <th>時間</th>
                            <th class="registerTh">登録</th>
                            <th class="fixBtnClose">欠品</th>
                        </tr>
                    </thead>
                    <tbody id="express-table-row">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-6 col6-sp" style="padding:20px;">
            <div class="d-flex justify-content-center">
                <table id="tblSupplyRight" class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th class="min-width40"></th>
                            <th>機番</th>
                            <th>所番地</th>
                            <th>品番</th>
                            <th class="min-width48">個数</th>
                            <th>時間</th>
                            <th class="registerTh">登録</th>
                            <th class="fixBtnClose">欠品</th>
                        </tr>
                    </thead>
                    <tbody id="express-table-row">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="noneDateMess text-center text-danger" style="display: none">E2007 該当データがありません。</div>
    <div class="connectionSupplyError text-center text-danger" style="display: none">E9999 予期せぬエラーが発⽣しました。</div>

    <div id="overlay">
        <div class="cv-spinner">
            <span class="dots-circle-spinner loading"></span>
        </div>
    </div>
</div>

