@{
    ViewData["Title"] = "";
}
<style>
    table tbody {
        font-size: 30px;
    }

    table thead tr {
        text-align: center;
    }

    h3 {
        margin: 5px;
    }

    #express-table-row tr {
        text-align: center;
    }

    #nomal-table-row tr {
        text-align: center;
    }

    .button-large {
        font-size: 25px;
    }

    .time-exceeded {
        background-color: #FFC1C1;
    }
</style>

<div class="card shadow">
    <div class="row table-content">
        <div class="col-6" style="padding:20px;">
            <h3 class="text-center" style="color: red;">特急依頼</h3>
            <table id="express-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>機番</th>
                        <th>品番</th>
                        <th>箱種</th>
                        <th>時間</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="express-table-row">
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6" style="padding:20px;">
            <h3 class="text-center">通常依頼</h3>
            <table id="normal-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>機番</th>
                        <th>品番</th>
                        <th>箱種</th>
                        <th>時間</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="normal-table-row">
                    <tr class="time-exceeded">
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                    <tr>
                        <td>A-01</td>
                        <td>61404-12172-</td>
                        <td>F93</td>
                        <td>07:15</td>
                        <td><button type="button" class="btn btn-success button-large">運搬</button> <button type="button" class="btn btn-secondary button-large">×</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
