@{
    ViewData["Title"] = "トップ";
}
<div class="top-area">
    <div class="inner">
        <div class="menu-top shadow-lg bg-white">
            <div class="system_logo">
                <img class="login-img  p-3" src="~/images/icon_app.png" />
            </div>
            <div class="system_title text-center">
                <span class="h3 cl-001E64 font-weight-bold">
                    空箱供給運搬アプリ
                </span>
            </div>
            <div class="top-menu-content d-flex justify-content-center mb-5">
                <div class="prepare p-4"><a class="navbar-brand" asp-area="" asp-controller="Preparation" asp-action="Index"><img class="zoom" src="~/images/preparation.png" /></a></div>
                <div class="transport p-4"><a class="navbar-brand" asp-area="" asp-controller="Transportation" asp-action="Index"><img class="zoom" src="~/images/transportation.png" /></a></div>
            </div>
        </div>
    </div>
</div>
